In [1]:
!pip install Quandl

Collecting Quandl
  Downloading Quandl-3.5.1-py2.py3-none-any.whl (25 kB)
Requirement already satisfied: requests>=2.7.0 in c:\users\mardiyyah\anaconda\lib\site-packages (from Quandl) (2.23.0)
Requirement already satisfied: numpy>=1.8 in c:\users\mardiyyah\anaconda\lib\site-packages (from Quandl) (1.18.1)
Requirement already satisfied: pandas>=0.14 in c:\users\mardiyyah\anaconda\lib\site-packages (from Quandl) (1.0.3)
Requirement already satisfied: python-dateutil in c:\users\mardiyyah\anaconda\lib\site-packages (from Quandl) (2.8.1)
Requirement already satisfied: six in c:\users\mardiyyah\anaconda\lib\site-packages (from Quandl) (1.14.0)
Collecting inflection>=0.3.1
  Downloading inflection-0.5.0-py2.py3-none-any.whl (5.8 kB)
Requirement already satisfied: more-itertools in c:\users\mardiyyah\anaconda\lib\site-packages (from Quandl) (8.2.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\mardiyyah\anaconda\lib\site-packages (from requests>=2.7.0->Quandl) (2020.4.5.1)
Requirement already satisfied: chardet<4,>=3.0.2 in c:\users\mardiyyah\anaconda\lib\site-packages (from requests>=2.7.0->Quandl) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\mardiyyah\anaconda\lib\site-packages (from requests>=2.7.0->Quandl) (1.25.8)
Requirement already satisfied: idna<3,>=2.5 in c:\users\mardiyyah\anaconda\lib\site-packages (from requests>=2.7.0->Quandl) (2.9)
Requirement already satisfied: pytz>=2017.2 in c:\users\mardiyyah\anaconda\lib\site-packages (from pandas>=0.14->Quandl) (2020.1)
Installing collected packages: inflection, Quandl
Successfully installed Quandl-3.5.1 inflection-0.5.0

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import quandl as qd
%matplotlib inline

In [3]:
data_pd = qd.get('WIKI/AAPL')
data_pd.head()

,Open,High,Low,Close,Volume,Ex-Dividend,Split Ratio,Adj. Open,Adj. High,Adj. Low,Adj. Close,Adj. Volume
Date,,,,,,,,,,,,
1980-12-12,28.75,28.87,28.75,28.75,2093900.0,0.0,1.0,0.422706,0.424470,0.422706,0.422706,117258400.0
1980-12-15,27.38,27.38,27.25,27.25,785200.0,0.0,1.0,0.402563,0.402563,0.400652,0.400652,43971200.0
1980-12-16,25.37,25.37,25.25,25.25,472000.0,0.0,1.0,0.373010,0.373010,0.371246,0.371246,26432000.0
1980-12-17,25.87,26.00,25.87,25.87,385900.0,0.0,1.0,0.380362,0.382273,0.380362,0.380362,21610400.0
1980-12-18,26.63,26.75,26.63,26.63,327900.0,0.0,1.0,0.391536,0.393300,0.391536,0.391536,18362400.0

In [6]:
data_np = qd.get('WIKI/AAPL', returns="numpy")
data_np

rec.array([('1980-12-12T00:00:00.000000000',  28.75,  28.87,  28.75,  28.75,  2093900., 0., 1.,   0.42270592,   0.42447025,   0.42270592,   0.42270592, 1.1725840e+08),
           ('1980-12-15T00:00:00.000000000',  27.38,  27.38,  27.25,  27.25,   785200., 0., 1.,   0.40256306,   0.40256306,   0.40065169,   0.40065169, 4.3971200e+07),
           ('1980-12-16T00:00:00.000000000',  25.37,  25.37,  25.25,  25.25,   472000., 0., 1.,   0.3730104 ,   0.3730104 ,   0.37124607,   0.37124607, 2.6432000e+07),
           ...,
           ('2018-03-23T00:00:00.000000000', 168.39, 169.92, 164.94, 164.94, 40248954., 0., 1., 168.39      , 169.92      , 164.94      , 164.94      , 4.0248954e+07),
           ('2018-03-26T00:00:00.000000000', 168.07, 173.1 , 166.44, 172.77, 36272617., 0., 1., 168.07      , 173.1       , 166.44      , 172.77      , 3.6272617e+07),
           ('2018-03-27T00:00:00.000000000', 173.68, 175.15, 166.92, 168.34, 38962839., 0., 1., 173.68      , 175.15      , 166.92      , 168.34      , 3.8962839e+07)],
          dtype=[('Date', '<M8[ns]'), ('Open', '<f8'), ('High', '<f8'), ('Low', '<f8'), ('Close', '<f8'), ('Volume', '<f8'), ('Ex-Dividend', '<f8'), ('Split Ratio', '<f8'), ('Adj. Open', '<f8'), ('Adj. High', '<f8'), ('Adj. Low', '<f8'), ('Adj. Close', '<f8'), ('Adj. Volume', '<f8')])

In [8]:
data = qd.get("WIKI/AAPL", start_date="2001-12-31", end_date="2005-12-31")
data.head()

,Open,High,Low,Close,Volume,Ex-Dividend,Split Ratio,Adj. Open,Adj. High,Adj. Low,Adj. Close,Adj. Volume
Date,,,,,,,,,,,,
2001-12-31,22.51,22.66,21.83,21.90,2460400.0,0.0,1.0,1.446424,1.456063,1.402730,1.407228,34445600.0
2002-01-02,22.05,23.30,21.96,23.30,9455300.0,0.0,1.0,1.416866,1.497187,1.411083,1.497187,132374200.0
2002-01-03,23.75,23.75,22.77,23.58,10928700.0,0.0,1.0,1.526103,1.526103,1.463131,1.515179,153001800.0
2002-01-04,23.34,23.95,22.99,23.69,7321000.0,0.0,1.0,1.499758,1.538954,1.477268,1.522248,102494000.0
2002-01-07,23.72,24.00,22.75,22.90,7939000.0,0.0,1.0,1.524175,1.542167,1.461846,1.471485,111146000.0

In [9]:
data = qd.get(["NSE/OIL.1", "WIKI/AAPL.4"])
data.head()

            NSE/OIL - Open  WIKI/AAPL - Close
Date
1980-12-12             NaN              28.75
1980-12-15             NaN              27.25
1980-12-16             NaN              25.25
1980-12-17             NaN              25.87
1980-12-18             NaN              26.63

In [10]:
data = qd.get("WIKI/AAPL", start_date="2001-12-31", end_date="2005-12-31", collapse='monthly')
data.head()

,Open,High,Low,Close,Volume,Ex-Dividend,Split Ratio,Adj. Open,Adj. High,Adj. Low,Adj. Close,Adj. Volume
Date,,,,,,,,,,,,
2001-12-31,22.51,22.66,21.83,21.90,2460400.0,0.0,1.0,1.446424,1.456063,1.402730,1.407228,34445600.0
2002-01-31,24.16,24.73,24.11,24.72,8365100.0,0.0,1.0,1.552448,1.589075,1.549236,1.588432,117111400.0
2002-02-28,22.15,22.59,21.35,21.70,8159600.0,0.0,1.0,1.423292,1.451565,1.371886,1.394376,114234400.0
2002-03-31,23.70,23.88,23.46,23.67,1936700.0,0.0,1.0,1.522890,1.534456,1.507468,1.520962,27113800.0
2002-04-30,23.89,24.38,23.75,24.27,5017200.0,0.0,1.0,1.535099,1.566585,1.526103,1.559517,70240800.0